extends layout

block content
  .container.container-agreement
    .row
      .col-sm
        .card
          .card-body
            .card-welcome-container
              .welcome-flex-item.welcome-left
                h2.welcome-title Välkommen till linkjournal!
                img.welcome-img(src="/img/contract-agreement.png", alt="")
              .welcome-flex-item.welcome-right
                h5.welcome-ingress Nu är det inte mycket som återstår
                p 
                  |Nedan följer ett formulär med grundinformation till er som beställare.
                  |Det är viktigt att ni fyller i samtliga uppgifter och har ni några eventuella
                  |frågor så tveka inte att kontakta oss. 
                ul.contact-list.list-unstyled
                  li
                    i.material-icons.welcome-card-icon phone
                    medium#form-text.text-muted  +468 655 45 99
                  li
                    i.material-icons.welcome-card-icon email
                    medium#form-text.text-muted  info@linkjournal.se
    form#customerForm(action="/new/create" method="post")
      .row
        .col-lg
          .card-container.full-height
            .card.full-height
              .card-body
                .card-header-container
                  i.material-icons.orange person
                  h5.card-title Beställare
                .form-container
                  .form-group
                    label(for='customerName') Verksamhet *
                    input#customerName.form-control(type='text' required="true" name="customerName" placeholder='Namn på verksamhet')
                  .form-group
                    label(for='customerContactPerson') Kontaktperson *
                    input#customerContactPerson.form-control(type='text' required="true" name="customerContactPerson" placeholder='Namn på kontaktperson')
                  .form-group
                    label(for='customerPhoneNumber') Telefonnummer *
                    input#customerPhoneNumber.form-control(type='text' required="true" name="customerPhoneNumber" placeholder='Telfonnummer till kontaktperson')
        .col-lg
          .card-container
            .card.full-height
              .card-body
                .card-header-container
                  i.material-icons.orange person_add
                  h5.card-title Abonemang
                .form-container
                  .form-group
                    label(for='subscriptionPrefixWebsite') Kontonamn/webbadress *
                    input#subscriptionPrefixWebsite.form-control(type='text' required="true" name="subscriptionPrefixWebsite" placeholder='Prefix till webadress')
                    medium#subscriptionPrefix.form-text.text-muted 
                      |Här skriver du önskat prefix i adressen till ditt Link-konto. 
                      |Alla konton har URL "namn.linkjournal.se" och här ska du skriva in ett önskat namn. 
                      |ex: verksamhetsnamn.linkjournal.se (OBS: Kan ej innehålla mellanslag, punkter eller specialtecken som å, ä, ö.)
                  .form-group
                    label(for='subscriptionPackage') Paket *
                    .radio-container-v
                      input#package.form-control(type='radio' name="subscriptionPackage" required="true" value="solo" onclick="hideAddBtn()")
                      p Solopaketet - max en användare (750 kr/mån)
                    .radio-container-v
                      input#package.form-control(type='radio' name="subscriptionPackage" required="true" value="multi" onclick="displayAddBtn()")
                      p Multipaketet - max 6 pers. (1500 kr/mån inkl en användare och ett betalställe)
                    .radio-container-v
                      input#package.form-control(type='radio' name="subscriptionPackage" required="true" value="business" onclick="displayAddBtn()")
                      p Affär (3500 kr/mån inkl en användare och ett betalställe)
                  .form-group
                    label(for='subscriptionCashRegister') Kassaregister (400 kr/st/månad)
                    medium#subscriptionCashRegister.form-text.text-muted 
                      |Används vid anonym försäljning, dvs butiksförsäljning. Registrerat hos Skatteverket. Behöver inga tillägg (svart låda).
                    .radio-horizontal-container
                      .radio-container-h-number
                        p 0
                        input#subscriptionCashRegister.form-control(type='radio' name="subscriptionCashRegister" value="0")
                      .radio-container-h-number
                        p 1
                        input#subscriptionCashRegister.form-control(type='radio' name="subscriptionCashRegister" value="1")
                      .radio-container-h-number
                        p 2
                        input#subscriptionCashRegister.form-control(type='radio' name="subscriptionCashRegister" value="2")
                      .radio-container-h-number
                        p 3
                        input#subscriptionCashRegister.form-control(type='radio' name="subscriptionCashRegister" value="3")
                      .radio-container-h-number
                        p 4
                        input#subscriptionCashRegister.form-control(type='radio' name="subscriptionCashRegister" value="4")
                      .radio-container-h-number
                        p 5
                        input#subscriptionCashRegister.form-control(type='radio' name="subscriptionCashRegister" value="5")
      .row
        .col-lg
          .card-container.full-height
            .card.full-height
              .card-body
                .card-header-container
                  i.material-icons.orange store_mall_directory
                  h5.card-title Betalställe
                .form-container
                  medium#payementPlaceDate.form-text.text-muted 
                    |Dessa uppgifter kommer att hamna på fakturan
                  .form-group
                    label(for='payementPlaceCompanyName') Företag *
                    input#companyName.form-control(type='text' required="true" name="payementPlaceCompanyName" placeholder='Namn på företaget')
                  .form-group
                    label(for='payementPlaceOrganisationNumber') Organisationsnummer *
                    input#payementPlaceOrganisationNumber.form-control(type='text' required="true" name="payementPlaceOrganisationNumber" placeholder='Organisationsnummer')
                  .form-group
                    label(for='payementPlaceStreetAddress') Gatuadress *
                    input#payementPlaceStreetAddress.form-control(type='text' required="true" name="payementPlaceStreetAddress" placeholder='Gatuadress')
                  .form-group
                    label(for='payementPlaceZipCode') Postnummer *
                    input#payementPlaceZipCode.form-control(type='text' required="true" name="payementPlaceZipCode" placeholder='Postnummer')
                  .form-group
                    label(for='payementPlaceCity') Stad *
                    input#payementPlaceCity.form-control(type='text' required="true" name="payementPlaceCity" placeholder='Stad')
                  .form-group
                    label(for='payementPlacePhoneNumber') Telefonnummer *
                    input#payementPlacePhoneNumber.form-control(type='text' required="true" name="payementPlacePhoneNumber" placeholder='Telefonnummer')
                  .form-group
                    label(for='payementPlaceFaxNumber') Faxnummer
                    input#payementPlaceFaxNumber.form-control(type='text' name="payementPlaceFaxNumber" placeholder='Faxnummer')
                  .form-group
                    label(for='payementPlaceEmail') E-post *
                    input#payementPlaceEmail.form-control(type='email' required="true" name="payementPlaceEmail" placeholder='E-post')
                  .form-group
                    label(for='payementPlaceWebsite') Hemsida
                    input#payementPlaceWebsiteWebsite.form-control(type='text' name="payementPlaceWebsite" placeholder='Hemsida')
                  .form-group
                    label(for='payementPlaceYearCount') Förlängt/förkortat räkenskapsår? *
                    i.material-icons.grey-color.tooltip-icon(style="margin-left: 50px;" data-placement="right" data-html="true" data-toggle="tooltip" title="<div style='text-align: left;'>Räkenskapsår är de 12 månader som en juridisk persons (företag eller förening) räkenskap gäller för. </br>Räkenskapsåret kan, men måste inte, sammanfalla med verksamhetsåret.</div>") info
                    .radio-horizontal-container
                      .radio-container-h
                        p Förlängt räkenskapsår
                        input#payementPlaceYearCount.form-control(type='radio' required="true" name="payementPlaceYearCount" value="Förlängt")
                      .radio-container-h
                        p Förkortat räkenskapsår
                        input#payementPlaceYearCount.form-control(type='radio' required="true" name="payementPlaceYearCount" value="Förkortat")
                      .radio-container-h
                        p Nej
                        input#payementPlaceYearCount.form-control(type='radio' required="true" name="payementPlaceYearCount" value="Nej")
                  .form-group
                    label(for='payementPlaceDate') Startdatum för bokföringsår *
                    medium#prefix.form-text.text-muted 
                      |Startdatum för räkenskapsår
                    .input-group.fancy-calendar
                      span.input-group-btn
                        span.btn.btn-default
                          i.material-icons.date-icon.orange date_range
                      input#payementPlaceDate.form-control(type='date' required="true" name="payementPlaceDate")
        .col-lg
          .card-container
            .card
              .card-body
                .card-header-container
                  i.material-icons.orange account_balance
                  h5.card-title Bankuppgifter
                .form-container
                  .form-group
                    label(for='bankBgNumber') Bankgironummer
                    input#bankBgNumber.form-control(type='text' name="bankBgNumber" placeholder='Bankgironummer')
                  .form-group
                    label(for='bankBgReceiver') Bankgiromottagare (Ditt företag/namn)
                    input#bankBgReceiver.form-control(type='text' name="bankBgReceiver" placeholder='Bankgiromottagare')
                  .form-group
                    label(for='bankTaxNumber') Momsregistreringsnummer *
                    input#bankTaxNumber.form-control(type='text' required="true" name="bankTaxNumber" placeholder='Momsregistreringsnummer')
                  .form-group
                    label(for='bankSwiftAddress') SWIFT-adress 
                    input#bankSwiftAddress.form-control(type='text' name="bankSwiftAddress" placeholder='SWIFT-Adress')
                  .form-group
                    label(for='bankIbanNumber') IBAN-nr
                    input#bankIbanNumber.form-control(type='text' name="bankIbanNumber" placeholder='IBAN-nr')
          .card-container
            .card
              .card-body
                .card-header-container
                  i.material-icons.orange settings
                  h5.card-title Inställningar för betalningsvillkor
                .form-container
                  medium#prefix.form-text.text-muted 
                    |Antal dagars betalningsvillkor ni vill ha till olika typer av fakturamottagare. Standardinställningen är 30 dagar.
                  .form-group
                    label(for='settingsPrivateCustomer') Privatkund
                    input#settingsPrivateCustomer.form-control(type='text' name="settingsPrivateCustomer" placeholder='Antal dagar till förfallodatum för privata kunder')
                  .form-group
                    label(for='settingsCompanyCustomer') Företagskund *
                    input#settingsCompanyCustomer.form-control(type='text' required="true" name="settingsCompanyCustomer" placeholder='Antal dagar till förfallodatum för företagskunder')
                  .form-group
                    label(for='settingsAgentNumber') Ombudsnummer försäkringsbolag (direktregleringar Agria)
                    input#settingsAgentNumber.form-control(type='text' name="settingsAgentNumber" placeholder='Ombudsnummer')
                  .form-group
                    label(for='settingsInvoiceMessage') Fakturameddelande
                    medium#settingsInvoiceMessage.form-text.text-muted 
                      |Meddelande som skrivs ut på alla era fakturor.
                    input#settingsInvoiceMessage.form-control(type='text' name="settingsInvoiceMessage" placeholder='Fakturameddelande')
                  .form-group
                    label(for='settingsInvoiceStartDate') Startdatum för faktura *
                    medium#prefix.form-text.text-muted 
                      |Önskat startdatum för påbörjning av fakturering. (OBS: Datumet kan behöva ändras beroende på datainmatning/utbildning eller andra överenskommelser.)
                    .input-group.fancy-calendar
                      span.input-group-btn
                        span.btn.btn-default
                          i.material-icons.date-icon.orange date_range
                      input#settingsInvoiceStartDate.form-control(type='date' required="true" name="settingsInvoiceStartDate")
      .row
        .col-sm
          .card-container
            .card
              .card-body
                .card-header-container
                  i.material-icons.orange person_add
                  h5.card-title Användare
                  i#addBtn.material-icons.add-icon-contract.orange(onclick="addUser(true)") add_circle
                .form-container
                  medium#prefix.form-text.text-muted 
                    |En användare ingår alltid oavsett valt konto. Endast den som jobbar själv kan välja Solo. 
                    |Alla som ska ha tillgång till Link ska ha ett personligt användarkonto.
                  .input-flex-container
                    .form-group
                      label(for='userWorkTitle') Yrkesroll *
                      select#userWorkTitle.custom-select(name="users[0][userWorkTitle]" required="true")
                        option(value="veterinary") Veterinär
                        option(value="veterinaryCandidate") Veterinärkandidat
                        option(value="foreignVeterinary") Utländsk veterinär
                        option(value="legitimizedAnimalCaretaker") Legitimerad djurskötare
                        option(value="approvedNurse") Godkänd sjuksköterska
                        option(value="assistant") Assistent
                        option(value="approvedPhysiotherapist") Godkänd sjukgymnast
                        option(value="approvedDentist") Godkänd tandläkare
                        option(value="approvedFarrier") Godkänd hovslagare
                        option(value="administrativeAssistant") Administrativ assistent
                        option(value="other") Övrig
                    .form-group
                      label(for='userFullName') Fullständigt namn *
                      input#userFullName.form-control(type='text' required="true" name="users[0][userFullName]" placeholder='Förnamn och efternamn')
                    .form-group
                      label(for='userVetNumber') Id/assitentnummer *
                      input#userVetNumber.form-control(type='text' required="true" name="users[0][userVetNumber]" placeholder='Veterinärid eller Assistentnummer')
                  .input-flex-container
                    .form-group
                      label(for='userSsn') Personnummer *
                      input#userSsn.form-control(type='text' required="true" name="users[0][userSsn]" placeholder='Personnummer')
                    .form-group
                      label(for='userEmail') E-post *
                      input#userEmail.form-control(type='text' required="true" name="users[0][userEmail]" placeholder='E-post')
                    .form-group
                      label(for='userTeleNumber') Telefonnummer *
                      input#userTeleNumber.form-control(type='text' required="true" name="users[0][userTeleNumber]" placeholder='Telefonnummer')
                  .input-flex-container
                    .form-group
                      label(for='userAddress') Adress *
                      input#userAddress.form-control(type='text' required="true" name="users[0][userAddress]" placeholder='Adress')
                    .form-group
                      label(for='userZipCode') Postnummer *
                      input#userZipCode.form-control(type='text' required="true" name="users[0][userZipCode]" placeholder='Postnummer')
                    .form-group
                      label(for='userCity') Stad *
                      input#userCity.form-control(type='text' required="true" name="users[0][userCity]" placeholder='Telefonnummer')
                #newRow
      .row
        .col-sm(style="text-align: center;")
          button#submitCustomer.btn.btn-raised.btn-send(type="submit") Skicka

