extends layout

block content
  .container-fluid.container-invoices
    a.btn.grey-color(href="/invoices?year=true" style="margin-left: 88%;") Visa hela året
    .card
      .table-header
        span.table-title Fakturarader
        .actions
          i.material-icons.assignment
      table#invoices-table.table-invoices.hover-tr
        thead
          tr
            th invoiceId
            th invoiceDate
            th itemSum
            th itemNetsuiteName
            th period
            th rowIndex
            th customerJob
        tbody
          each invoice in invoices
            tr(data-href="/invoices/" + invoice.invoiceId.S)
              if invoice.invoiceId.S
                td
                  a.table-link(href="/invoices/" + invoice.invoiceId.S style="white-space: nowrap;") #{invoice.invoiceId.S}
              else
                td No invoiceId
              //- if invoice.itemPrice.N
              //-   td
              //-     a.table-link(href="/invoices/" + invoice.invoiceId.S) #{invoice.itemPrice.N}
              //- else
              //-   td No itemPrice
              if invoice.invoiceDate.S
                td
                  a.table-link(href="/invoices/" + invoice.invoiceId.S style="white-space: nowrap;") #{invoice.invoiceDate.S}
              else
                td No invoiceDate
              if invoice.itemSum.N
                td
                  a.table-link(href="/invoices/" + invoice.invoiceId.S) #{invoice.itemSum.N}
              else
                td No itemSum
              if invoice.itemNetsuiteName.S
                td
                  a.table-link(href="/invoices/" + invoice.invoiceId.S) #{invoice.itemNetsuiteName.S}
              else 
                td no itemNeesuiteName
              //- if invoice.rowComment
              //-   td
              //-     a.table-link(href="/invoices/" + invoice.invoiceId.S) #{invoice.rowComment.S}
              //- else
              //-   td No Comment
              if invoice.period
                td(style="white-space: nowrap;") #{invoice['period']['S']}
              else
                td No Invoice Period
              if invoice.rowIndex
                td
                  span.spnDetails 
                    a.table-link(href="/invoices/" + invoice.invoiceId.S) #{invoice.rowIndex.N}
                  span.spnTooltip 
                    if invoice.itemPrice
                      p
                        strong itemPrice
                        br
                        |#{invoice.itemPrice.N}
                    else 
                      p itemPrice: Undefined
                    if invoice.rowComment
                      p
                        strong rowComment
                        br
                        |#{invoice.rowComment.S}
                    else
                      p rowComment: Undefined
                    if invoice.itemQuantity
                      p 
                        strong itemQuantity
                        br
                        |#{invoice.itemQuantity.N}
                    else
                      p rowIndex: Undefined
              else
                td No rowIndex
              //- if invoice.itemQuantity.N
              //-   td
              //-     a.table-link(href="/invoices/" + invoice.invoiceId.S) #{invoice.itemQuantity.N}
              //- else
              //-   td No itemQuantity
              if invoice.customerJob.S
                td
                  a.table-link(href="/invoices/" + invoice.invoiceId.S) #{invoice.customerJob.S}
              else
                td No customerJob
