extends layout

block content
  .container-fluid.container-invoices
    .card
      .table-header
        span.table-title #{invoiceRows[0].invoiceId.S}
      table.table-invoices
        thead
          tr
            th 
              a(href="/invoices?sort=invoiceId") invoiceId
            //- th itemPrice
            th 
              a(href="/invoices?sort=date") invoiceDate
            th itemSum
            th itemNetsuiteName
            th period
            th rowIndex
            //- th itemQuantity
            th customerJob
        tbody
          each invoice in invoiceRows
            tr
              if invoice.invoiceId.S
                td(style="white-space: nowrap;") #{invoice.invoiceId.S}
              else
                td No inoviceId
              //- if invoice.itemPrice.N
              //-   td #{invoice.itemPrice.N}
              //- else
              //-   td No itemPrice
              if invoice.invoiceDate.S
                td(style="white-space: nowrap;") #{invoice.invoiceDate.S}
              else
                td No invoiceDate
              if invoice.itemSum.N
                td #{invoice.itemSum.N}
              else
                td No itemSum
              td #{invoice.itemNetsuiteName.S}
              //- if invoice.rowComment
              //-   td #{invoice.rowComment.S}
              //- else
              //-   td No Comment
              if invoice.period
                td #{invoice['period']['S']}
              else
                td No Invoice Period
              if invoice.rowIndex
                td
                  span.spnDetails 
                    a.table-link(href="/invoices/" + invoice.invoiceId.S) #{invoice.rowIndex.N}
                  span.spnTooltip 
                    if invoice.itemPrice
                      p
                        strong itemPrice
                        br
                        |#{invoice.itemPrice.N}
                    else 
                      p itemPrice: Undefined
                    if invoice.rowComment
                      p
                        strong rowComment
                        br
                        |#{invoice.rowComment.S}
                    else
                      p rowComment: Undefined
                    if invoice.itemQuantity
                      p 
                        strong itemQuantity
                        br
                        |#{invoice.itemQuantity.N}
                    else
                      p rowIndex: Undefined
              else
                td No rowIndex
              //- if invoice.itemQuantity.N
              //-   td #{invoice.itemQuantity.N}
              //- else
              //-   td No itemQuantity
              if invoice.customerJob.S
                td #{invoice.customerJob.S}
              else
                td No customerJob
