doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700', rel='stylesheet')
    link(rel="stylesheet", href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/new.css")
    link(rel="stylesheet", href="/css/drawer.css")
    link(rel="prefetch", href="/invoices")
    title 
    body.mdc-typography
      #pattern.pattern
        a.menu-link(href='#menu') Menu
        nav.navbar#menu(role='navigation')
          a(href="/")
            img.navbar-img(src="/img/link-logo-full-grey.png", height="25" alt="")
          ul
            li
              a.nav-link(href='/') Kunder
            li
              a.nav-link(href='/invoices') Fakturarader
            li
              a.nav-link(href='/new') Nytt avtal
            li
              a.nav-link(href='/contract-agreement') Kundens avtal (template)
      block content
      script(src='https://unpkg.com/axios/dist/axios.min.js')
      script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
      script(src='https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js', integrity='sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U', crossorigin='anonymous')
      script(src='https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js', integrity='sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9', crossorigin='anonymous')
      script(src="/js/drawer.js")
      script(type='text/javascript', charset='utf8', src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js')
      script(src="/js/index.js")

  

            


