hgroup
  h1 Fakturaportal
  h3 Apoex Systems
form(action='/login' method='post')
  .group
    input(type='email' name='email' required='required')
    span.highlight
    span.bar
    label#email E-mail
  .group
    input(name='password' required='required' type='password')
    span.highlight
    span.bar
    label#password L&ouml;senord
  button.button.buttonBlue(type='submit')
    | Logga in
    .ripples.buttonRipples
      span.ripplesCircle
footer
  a(href='http://trylink.se/' target='_blank')
    img(src='http://trylink.se/img/logga_link_1440x322px.png')