extends layout

block content
  .container.container-customer
    i.material-icons.grey-color navigate_before
    i.material-icons.grey-color navigate_next
    .card.tenant-card
      .card-header.card-tenant-header 
        i.material-icons.grey-color business
        div.tenant-headline #{tenant.customer.name.S}
      .card-body
        div.tenant-flex-box
          div
            if tenant.customer['customer-id']
              div.tenant-title #{tenant.customer['customer-id'].S}
              p.card-text.tenant-card-text
                | customer-id
            else
              div.tenant-title Unknown
              p.card-text.tenant-card-text
                | customer-id
            if tenant.customer.ssn
              h6.tenant-title #{tenant.customer.ssn.S}
              p.card-text.tenant-card-text
                | Ssn
            else
              h6.tenant-title Unknown
              p.card-text.tenant-card-text
                | Ssn
            if tenant.customer.price_list_id
              h6.tenant-title #{tenant.customer.price_list_id.S}
              p.card-text.tenant-card-text
                | Price list id
            else
              h6.tenant-title Unknown
              p.card-text.tenant-card-text
                | Price list id
            if tenant.customer.subscription_package_id
              h6.tenant-title #{tenant.customer.subscription_package_id.S}
              p.card-text.tenant-card-text
                | Subscription package id
            else
              h6.tenant-title Unknown
              p.card-text.tenant-card-text
                | Subscription package id
            if tenant.customer.tenant
              h6.tenant-title #{tenant.customer.tenant.S}
              p.card-text.tenant-card-text
                | Tenant
            else
              h6.tenant-title Unknown
              p.card-text.tenant-card-text
                | Tenant
            h6.tenant-title Unknown
            p.card-text.tenant-card-text
              | Payment receivers
          div
            h6.tenant-title Unknown
            p.card-text.tenant-card-text
              | Cash registries
            h6.tenant-title Unknown
            p.card-text.tenant-card-text
              | Halflings
            h6.tenant-title Unknown
            p.card-text.tenant-card-text
              | E-receipts
            h6.tenant-title Unknown
            p.card-text.tenant-card-text
              | Discount id
            h6.tenant-title Unknown
            p.card-text.tenant-card-text
              | Discount end
            if tenant.customer.start_date
              h6.tenant-title #{tenant.customer.start_date.S}
              p.card-text.tenant-card-text
                | Start date
            else
              h6.tenant-title Unknown
              p.card-text.tenant-card-text
                | Start date              
          div
            h6.tenant-title Unknown
            p.card-text.tenant-card-text
              | Accept date
            if tenant.customer.first_date
              h6.tenant-title #{tenant.customer.first_date.S}
              p.card-text.tenant-card-text
                | First date
            else
              h6.tenant-title Unknown
              p.card-text.tenant-card-text
                | First date
            if tenant.customer.referens
              h6.tenant-title #{tenant.customer.referens.S}
              p.card-text.tenant-card-text
                | Reference
            else
              h6.tenant-title Unknown
              p.card-text.tenant-card-text
                | Reference
            if tenant.customer.email
              h6.tenant-title #{tenant.customer.email.S}
              p.card-text.tenant-card-text
                | E-mail
            else
              h6.tenant-title Unknown
              p.card-text.tenant-card-text
                | E-mail
            if tenant.customer.address1
              h6.tenant-title #{tenant.customer.address1.S}
              p.card-text.tenant-card-text
                | Address 1
            else
              h6.tenant-title Unknown
              p.card-text.tenant-card-text
                | Address 1 
            h6.tenant-title Unknown
            p.card-text.tenant-card-text
              | Address 2
          div
            if tenant.customer.zipcode
              h6.tenant-title #{tenant.customer.zipcode.S}
              p.card-text.tenant-card-text
                | Zipcode
            else
              h6.tenant-title Unknown
              p.card-text.tenant-card-text
                | Zipcode
            h6.tenant-title Unknown
            p.card-text.tenant-card-text
              | Created at
            h6.tenant-title Unknown
            p.card-text.tenant-card-text
              | Updated at
            if tenant.customer.city
              h6.tenant-title #{tenant.customer.city.S}
              p.card-text.tenant-card-text
                | City
            else
              h6.tenant-title Unknown
              p.card-text.tenant-card-text
                | City
            if tenant.customer.phase
              h6.tenant-title #{tenant.customer.phase.S}
              p.card-text.tenant-card-text
                | Phase
            else
              h6.tenant-title Unknown
              p.card-text.tenant-card-text
                | Phase
  .container.invoice-container
    .d-flex.justify-content-around
      .form-group
        label(for='firstMonth') Månad
        if tenant.tableOne[0]
          select#firstMonth.custom-select(name=tenant.tableOne[0].month)
            option(value="0") Januari
            option(value="1") Februari
            option(value="2") Mars
            option(value="3") April
            option(value="4") Maj
            option(value="5") Juni
            option(value="6") Juli
            option(value="7") Augusti
            option(value="8") September
            option(value="9") Oktober
            option(value="10") November
            option(value="11") December
        else
          select#firstMonth.custom-select(name="tableOne")
            option(value="0") Januari
            option(value="1") Februari
            option(value="2") Mars
            option(value="3") April
            option(value="4") Maj
            option(value="5") Juni
            option(value="6") Juli
            option(value="7") Augusti
            option(value="8") September
            option(value="9") Oktober
            option(value="10") November
            option(value="11") December
      .form-group
        label(for='secondMonth') Månad
        if tenant.tableTwo[0]
          select#secondMonth.custom-select(name=tenant.tableTwo[0].month)
            option(value="0") Januari
            option(value="1") Februari
            option(value="2") Mars
            option(value="3") April
            option(value="4") Maj
            option(value="5") Juni
            option(value="6") Juli
            option(value="7") Augusti
            option(value="8") September
            option(value="9") Oktober
            option(value="10") November
            option(value="11") December
        else
          select#secondMonth.custom-select(name="tableTwo")
            option(value="0") Januari
            option(value="1") Februari
            option(value="2") Mars
            option(value="3") April
            option(value="4") Maj
            option(value="5") Juni
            option(value="6") Juli
            option(value="7") Augusti
            option(value="8") September
            option(value="9") Oktober
            option(value="10") November
            option(value="11") December
    button(type="button" class="btn grey-color" style="margin-top: -50px; float: right;" onclick="showMonths("+tenant.customer['customer-id'].S+")") Visa månader
    .d-flex.justify-content-between.history-tables
      .p-2
        .card
          .table-header
            if tenant.tableOne[0]
              span.table-title #{tenant.tableOne[0].month}
            else
              span.table-title No entry  
            .actions
              i.material-icons.grey-color assignment
          table#last-month-table.table-invoices
            thead.thead
              tr
                th Invoice-d
                th Item-name
                th Item-qty
                th Item-sum
            tbody
              each invoice in tenant.tableOne
                tr
                  if invoice.invoiceId
                    td(style="white-space: nowrap;") #{invoice.invoiceId.S}
                  else
                    td No inoviceId
                  if invoice.itemNetsuiteName
                    td(style="white-space: nowrap;") #{invoice.itemNetsuiteName.S}
                  else
                    td No itemName
                  if invoice.itemQuantity
                    td #{invoice.itemQuantity.N}
                  else
                    td No itemQty
                  if invoice.itemSum
                    td #{invoice.itemSum.N}
                  else
                    td No itemSum
      .p-2
        .card
          .table-header
            if tenant.tableTwo[0]
              span.table-title #{tenant.tableTwo[0].month}
            else
              span.table-title No entry  
            .actions
              i.material-icons.grey-color assignment
          table#last-month-table.table-invoices
            thead.thead
              tr
                th Invoice-id
                th Item-name
                th Item-qty
                th Item-sum
            tbody
              each invoice in tenant.tableTwo
                tr
                  if invoice.invoiceId
                    td(style="white-space: nowrap;") #{invoice.invoiceId.S}
                  else
                    td No inoviceId
                  if invoice.itemNetsuiteName
                    td(style="white-space: nowrap;") #{invoice.itemNetsuiteName.S}
                  else
                    td No itemName
                  if invoice.itemQuantity
                    td #{invoice.itemQuantity.N}
                  else
                    td No itemQty
                  if invoice.itemSum
                    td #{invoice.itemSum.N}
                  else
                    td No itemSum
      //- div.test
      //-   .card
      //-     .table-header
      //-       span.table-title #{customer[4][0].month}
      //-       .actions
      //-         i.material-icons.grey-color assignment
      //-     table#last-month-table.table-invoices
      //-       thead.thead
      //-         tr
      //-           th Invoice-id
      //-           th Item-name
      //-           th Item-qty
      //-           th Item-sum
      //-       tbody
      //-         each invoice in customer[2]
      //-           tr
      //-             if invoice.invoiceId.S
      //-               td
      //-                 |#{invoice.invoiceId.S}
      //-             else
      //-               td No inoviceId
      //-             if invoice.itemNetsuiteName.S
      //-               td #{invoice.itemNetsuiteName.S}
      //-             else
      //-               td No itemName
      //-             if invoice.itemQuantity.N
      //-               td #{invoice.itemQuantity.N}
      //-             else
      //-               td No itemQty
      //-             if invoice.itemSum.N
      //-               td #{invoice.itemSum.N}
      //-             else
      //-               td No itemSum
  .container.invoice-container
    .card
      .table-header
        span.table-title Fakturarader #{tenant.customer.name.S}
        .actions
          i.material-icons.grey-color assignment
      table#tenant-table.table-invoices
        thead.thead
          tr
            th(style="border-top-left-radius: 12px;") Invoice-id
            //- th( itemPrice
            th Invoice-date
            th Item-sum
            th Item-name
            //- th rowComment
            th Period
            //- th rowIndex
            th Row-index
            //- th customerJob
        tbody
          each invoice in tenant.invoices
            tr
              if invoice.invoiceId
                td(style="white-space: nowrap;") 
                  |#{invoice.invoiceId.S}
              else
                td No inoviceId
              //- if invoice.itemPrice.N
              //-   td #{invoice.itemPrice.N}
              //- else
              //-   td No itemPrice
              if invoice.invoiceDate
                td(style="white-space: nowrap;") #{invoice.invoiceDate.S}
              else
                td No invoiceDate
              if invoice.itemSum
                td #{invoice.itemSum.N}
              else
                td No itemSum
              if invoice.itemNetsuiteName
                td #{invoice.itemNetsuiteName.S}
              else
                td No itemName
              //- if invoice.rowComment
              //-   td #{invoice.rowComment.S}
              //- else
              //-   td No Comment
              if invoice.period
                td #{invoice['period']['S']}
              else
                td No Invoice Period
              //- if invoice.rowIndex.N
              //-   td #{invoice.rowIndex.N}
              //- else
              //-   td No rowIndex
              if invoice.rowIndex
                td
                  span.spnDetails #{invoice.rowIndex.N}
                  span.spnTooltip 
                    if invoice.itemPrice
                      p
                        strong itemPrice
                        br
                        |#{invoice.itemPrice.N}
                    else 
                      p itemPrice: Undefined
                    if invoice.rowComment
                      p
                        strong rowComment
                        br
                        |#{invoice.rowComment.S}
                    else
                      p rowComment: Undefined
                    if invoice.itemQuantity
                      p 
                        strong itemQuantity
                        br
                        |#{invoice.itemQuantity.N}
                    else
                      p rowIndex: Undefined
                    if invoice.customerJob
                      p 
                        strong customerJob
                        br
                        | #{invoice.customerJob.S}
                    else
                      p customerJob: Undefined
              else
                td No rowIndex
              //- if invoice.customerJob.S
              //-   td #{invoice.customerJob.S}
              //- else
              //-   td No customerJob


