extends layout


block content
  .container.container-customers
    .card.tenant-card
      .card-header.card-tenant-header 
        div.tenant-headline Kunder
        i.material-icons.grey-color business
      table#tenants-table.table.table-tenants
        thead
          tr
            //- th 
            th Klinik
            th Stad
            th Datum
        tbody 
          each customer in customers
            tr(data-href="/tenants/" + customer["customer-id"].S)
              //- td
              //-   a(href="/tenants/" + customer["customer-id"].S)
              //-     i.material-icons.grey-color business
              td
                a(href="/tenants/" + customer["customer-id"].S) #{customer.name.S}
              if customer.city
                td
                  a(href="/tenants/" + customer["customer-id"].S) #{customer.city.S}
              else
                td
                  a(href="/tenants/" + customer["customer-id"].S) City Unavailable
              td.date.font-weight-light #{customer.accept_date.S}
          else
            tr
              th(scope='row') 0
              td 0
              td 0
              td 0

