a.menu-link {
  float: right;
  display: block;
  padding: 1em;
}


nav[role=navigation] {
clear: both;
-webkit-transition: all 0.3s ease-out;  
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
.js nav[role=navigation] {
overflow: hidden;
max-height: 0;
}
nav[role=navigation].active {
max-height: 15em;
}
nav[role=navigation] ul {
margin: 0;
padding: 0;
list-style: none;
}
nav[role=navigation] li a {
display: block;
padding: 0.8em;
}
.navbar-img{
  display: none;
}
.nav-link{
  text-transform: none;
  text-decoration: none;
  margin: 0 16px;
  color: rgba(0,0,0,.54);
  font-size: 17px !important;
}

.nav-link:hover{
  cursor: pointer;
  color: #212121;
}

@media screen and (min-width: 48.25em) {
a.menu-link {
   display: none;
}
.navbar-img{
  display: block;
}
.js nav[role=navigation] {
  max-height: none;
}
nav[role=navigation] ul {
  margin: 0 0 0 -0.25em;
  border: 0;
}

nav[role=navigation]  li {
  display: inline-block;
  margin: 0 0.25em;
}
nav[role=navigation] li a {
  border: 0;
}
}

.pattern{
  background-color: white;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  position: fixed;
  width: 100%;
  z-index: 20;
}

.navbar{
  font-size: 18px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-shadow: none !important;
}