
.card{
  border-radius: 12px !important;
}

p{
  font-weight: 300;
}

.full-height{
  height: 100%;
}

.card-container{
  padding-top: 2rem;
}

.card-header-container{
  padding: 1rem;
}
.card-header-container i, h5{
  display: inline-block;
  margin-bottom: 0px !important;
  vertical-align: middle !important;
}

.card-header-container i{
  font-size: 28px;
  color: rgba(0,0,0,.54);
  margin-right: 25px;
}

.form-container{
  padding: 0 65px 0 65px;
}

.display{
  visibility: visible;
}

.display-none{
  visibility: hidden;
}

label, input{
  font-weight: 300;
}

.form-group label{
  margin-top: 1rem;
}

.radio-container-v{
  display: flex;
  align-items: center;
}

.radio-container-v p{
  margin: 5px 0 0 0;
  width: 100%;
}

.radio-container-h-number p{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 2px;
}


.radio-container-h-number{
  width: 15px;
}

.radio-horizontal-container{
  display: flex;
  justify-content: space-between;
}

.radio-container-v input {
  width: 50px;
}

.input-flex-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-flex-container .form-group{
  width: 265px;
}

.add-icon-contract{
  float: right;
  font-size: 42px !important;
}

.add-icon-contract:hover{
  color: #ea9345 !important;
  cursor: pointer;
}

.add-icon{
  float: right;
  font-size: 42px !important;
}

.add-icon:hover{
  color: #1aa7e8 !important;
  cursor: pointer;
}

.btn-save:hover{
  background-color: #1aa7e8 !important;
  color: #fff !important;
}

.btn-send:hover{
  background-color: #ea9345 !important;
  color: #fff !important;
}

.contract-hover:hover{
  color: #ea9345 !important;
}

.btn-copy:hover{
  background-color: #1aa7e8 !important;
  color: #fff !important; 
}

.new-hover:hover{
  color: #1aa7e8 !important;
}

.btn-save{
  background-color: #4285F4;
  color: white;
  width: 150px;
  margin-top: 1rem;
  border-radius: 20px;
}

.btn-send{
  background-color: #e67e22;
  color: white;
  width: 150px;
  margin-top: 1rem;
  border-radius: 20px;
}

.btn-copy{
  background-color: #4285F4;
  color: white;
  border-radius: 20px;
  margin-left: 1rem;
}

.add-icon:hover{
  cursor: pointer;
}


.orange{
  color: #e67e22 !important;
}

.blue{
  color: #4285F4 !important
}

.fancy-calendar {
  width: 100%;
  margin-top: 1rem;
}
.fancy-calendar .btn {
  border: 0;
}
.fancy-calendar > .input-group-btn {
  position: absolute;
  right: 15px;
  width: 40px;
}
.fancy-calendar > .form-control {
  background: transparent;
  padding-right: 50px;
  border-radius: 4px !important;
  border: 1px solid #ccc;
  padding-left: 15px;
}
.fancy-calendar > .form-control::-webkit-calendar-picker-indicator {
  opacity: 0;
  right: 0;
  position: absolute;
  top: 0;
  padding: 0;
  width: 40px;
  height: 34px;
  cursor: pointer;
}

.input-group-btn:last-child > .btn {
  margin-left: 0;
  border: 0;
}

.custom-select{
  color:rgba(0,0,0,.54);
  font-weight: 300;
  height: calc(2.4375rem + -4px);
  margin-top: -2px;
}

.link{
  padding: 12px;;
  border: 1px solid rgba(0,0,0,.26);
  border-radius: 6px;
  width: 375px;
  font-size: 1rem;
}

.icon-remove:hover{
  cursor: pointer;
}

.welcome-title{
  font-weight: 400;
}

.welcome-ingress{
  font-weight: 400;
  display: block;
}

.card-welcome-container{
  display: flex;
  flex-wrap: wrap;
}
.welcome-flex-item{
  flex: 1 1 0;
  padding: 1rem;
}

.welcome-left{
  text-align: center;
}

.welcome-right{
  padding: 5rem 4rem 3rem 3rem;
  min-width: 470px;
}

.welcome-img{
  width: 90%;
  margin-top: -28px;
}

.display-none{
  display: none;
}

.form-text{
  font-size: 12px;
}

.contact-list li{
  float: left;
  padding-right: 3rem;
}

.list-unstyled{
  list-style: none;
}

.welcome-card-icon{
  display: inline-block;
  margin-bottom: 0px !important;
  vertical-align: middle !important;
  font-size: 20px;
  color: rgba(0,0,0,.68) !important;
}

.info-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info-text{
  font-size: 1rem;
  margin-top: 0.5rem;
}

.info-title{
  font-weight: 400 !important;
}

.info-flex-left{
  width: 450px;
}
.info-flex-right{
  max-width: 48%;
}
/* PLACEHOLDER */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 400 !important;
  color: rgba(0,0,0,.54) !important;
  font-size: 0.875rem !important;
}
::-moz-placeholder { /* Firefox 19+ */
  font-weight: 400 !important;
  color: rgba(0,0,0,.54) !important;
  font-size: 0.875rem !important;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: 400 !important;
  color: rgba(0,0,0,.54) !important;
  font-size: 0.875rem !important;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight: 400 !important;
  color: rgba(0,0,0,.54) !important;
  font-size: 0.875rem !important;
}

/* MEDIAQUERIES */
@media screen and (max-width: 540px) {
  .link{
    font-size: 12px;
    width: 300px;
  }

  .form-container{
    padding: 0;
  }

  .welcome-right{
    padding: 0 !important;
    min-width: 300px;
  }

}

@media screen and (max-width: 1200px) {
  .welcome-title{
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 995px) {
  .welcome-right{
    padding: 0rem 4rem 3rem 3rem;
  }
}