body {
  padding: 0px;
  margin: 0;
  font-size: 16px;
  background-color: #fafafa;
  position: relative;
}

.navbar{
  background-color: #fff;
  justify-content: space-between;
}

a{
  color: rgba(0,0,0,.54);
}

a:hover{
  text-decoration: none;
}
.navbar-brand{
  color: #212121;
}

.container-agreement, .container-customer, .container-invoices, .container-customers, .new-customer-container{
  padding-top: 8rem;
  padding-bottom: 4rem;
}


.invoice-container{
  padding-bottom: 4rem;
}

.customer-table-card{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 12px;
}

.invoice-table-header{
  background-color: white;
  width: 100%;
  border-top-left-radius: 12px; 
  border-top-right-radius: 12px;
  padding: 1rem;
  height: 69px;
}

.invoice-table-header i {
  vertical-align: middle;
  margin-right: 46px;
  font-size: 28px;
  float: left;
}


.tabs{
  margin-bottom: 1rem;

}
.nav-tabs .nav-link{
  color: rgba(0,0,0,.54) !important;
}

.nav-tabs .nav-link:hover {
  color: rgba(0,0,0,.68) !important;
  border-bottom: .214rem solid rgba(0,0,0,.54) !important;
}

.table-tenants th{
  background-color: #fff;
}

.table-tenants tr{
  background-color: #fff;
}

.table-tenants tr:hover{
  cursor: pointer;
  background-color: #F7F7F7;
}

.dark-icon{
  color: #202124 !important;
}

.input-search{
  width: 100%;
  height: 38px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.09);
  padding-left: 15px;

}

.input-search:focus{
  border: 1px solid rgba(0,0,0, .15);
  outline: none;
  background-color: white;
  /* -webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12); */
}

.table-tenants td a {
  text-decoration: none !important;
  color: #212121;
  font-weight: 300;
  font-size: 14px;
}

.table-tenants .date{
  font-size: 14px;
}
button a {
  text-decoration: none !important;
  color: #212121;
  font-weight: 300;
}

.table-invoices{
  padding: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 100%;
}

.table-title {
  float: left;
  color: #69696a;
  font-weight: 300;
  font-size: 1.5rem !important;
}

.grey-color{
  color: rgba(0,0,0,.54);
}

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}

.table-header .actions {
  display: -webkit-flex;
  margin-left: auto;
}

.hover-tr tr:hover{
  cursor: pointer;
}

.table-invoices .table-header .btn-flat {
  min-width: 36px;
  padding: 0 8px;
}

.table-invoices thead {
  border-bottom: 1px solid #d0d0d0;
}

.table-invoices th:first-child, .table-invoices td:first-child {
  padding: 0 0 0 24px !important;
}
.table-invoices th:last-child, .table-invoices td:last-child {
  padding: 0 24px 0 56px !important;
}
.table-invoices td:first-child {
  padding: 0 0 0 24px !important;
}

#last-month-table th:hover{
  cursor: default;
}

#two-months-table:hover{
  cursor: default;
}
.custom-select{
  border-radius: 25px;
}

.table-invoices th {
  font-size: 13px;
  font-weight: 500;
  color: #757575;
  cursor: pointer;
  white-space: nowrap;
  padding: 0;
  height: 56px;
  padding-left: 56px;
  vertical-align: middle;
  outline: none !important;
}

.table-header{
  height: 64px;
  padding-left: 24px;
  padding-right: 14px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-display: flex;
}

.table-invoices td{
  padding: 0 0 0 56px !important;
  height: 48px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: solid 1px #DDDDDD;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  table-layout: fixed;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 13px;
}

.table-link{
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 13px;
}

.table-invoices tr:hover{
  background-color: #F7F7F7;
}

.card-tenant-header{
  font-size: 1.5rem !important;
  font-weight: 300 !important;
  border: none;
}

.card-tenant-header i{
  float: right;
  line-height: 1.5;
}

.tenant-flex-box{
  display: flex;
  justify-content: space-around;
}

.tenant-title{
  margin-bottom: 0px !important;
  font-size: 1rem;
  font-weight: 400;
  color: #69696a;
}

.tenant-icon {
  vertical-align: middle;
  margin-right: 46px;
  font-size: 28px;
  float: left;
}

.tenant-card{
  border-radius: 12px;
}

.tenant-headline{
  float: left;
  color: #69696a;
  font-weight: 300;
  font-size: 1.5rem !important;
}
.tenant-card-text{
  color: rgba(0,0,0,.54);
}

/* INVOICES-VIEW */

.table-invoices{
  font-size: 14px;
  background-color: white;
}

.table-invoices td {
  padding: 4px;
}


/* @media (min-width: 1400px){
  .container {
      max-width: 1240px;
  }
} */

/* TOOTLTIP */

tr .spnTooltip {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:200px; line-height:16px;
}
tr:hover .spnTooltip{
  display:inline; position:absolute; color:#111;
  background:#fff;
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}


.dataTables_filter{
  padding-right: 16px;
}
#last-month-table_filter label{
  display: none !important;
}
#two-months-table_filter label{
  display: none !important;
}
#three-months-table_filter label{
  display: none !important;
}

.dataTables_filter input {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
.dataTables_filter input:focus{
  outline: none;
}

.dataTables_filter:not(input){
  visibility: hidden;
}

.dataTables_filter label{
  margin-top: -3rem;
}

.dataTables_filter input {
  visibility: visible;
}

/* .test{
  min-width: 350px;
} */







